{% extends "core/base.html" %} 
{% load crispy_forms_tags %} 
{% load static %} 
{%block title %}Cambio Contraseña{% endblock title %} 
{% block content %}

<br>
<div class="col-4 offset-4">
  <div class="card" style="width: 30rem">
    <h4>Cambio Contraseña</h4>
    <br />
    <div class="card-body">
      <form method="POST" class="my-class">
        {% csrf_token %}
        {{ form|crispy }}  {# Muestra los campos del formulario #}
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}




