{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <br><br><br>   

    <div class="card mb-3 col-8 offset-4" style="max-width: 450px;">
        <img src="{% static 'img/motor.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{producto.nombre}} </h5>
        <h5 class="card-title">Cantidad: {{producto.cantidad}} </h5>
        <p class="card-text"> {{producto.descripcion}} </p>
        <a class="btn btn-sm btn-secondary" href=" {% url 'productos' %}"role="button"> Volver </a> 
        <a class="btn btn-sm btn-danger"  href=" {% url 'eliminar' producto.id %} "role="button" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');"> Eliminar </a> 
        </div>
    </div>
</div>

{% endblock content %}