<button id="menu-toggle">
  <i id="icono" class="bi bi-person-lines-fill" style="font-size: 20px"></i>
</button>
<div id="sidebar">
  <div class="user-profile">
    
    {% if user.is_authenticated %}
    <a href=" {% url 'editar_perfil' user.id %} "><img
      class="user-avatar"
      src="{{ user.foto.url }}"
      alt="Foto de {{ user.nombre }}"
      /></a>
      <span class="user-name">{{ user.nombre }}</span>
    </div>
    <br />
    <ul>
      <li><a href=" {% url 'admin_user' %} ">Admin User</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    {% endif %}
</div>
