{% extends "core/base.html" %}
{% load static %}
{% block content %}
<h1>Total de Productos por Estantería</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">  <!-- Cambié col-4 a col-md-6 para que ocupen la mitad del ancho -->
            <table class="table table-dark table-striped">
                <tr>
                    <th>Estante</th>
                    <th>Total de productos</th>
                </tr>
                {% for estante in total_productos_estanteria %}
                <tr>
                    <td>{{ estante.codigo }}</td>
                    <td>{{ estante.total_cantidad }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div class="col-md-6">  <!-- Cambié col-4 a col-md-6 para que ocupen la mitad del ancho -->
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Estante</th>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estante, tipos in distribucion.items %}
                        {% for tipo, cantidad in tipos.items %}
                            <tr>
                                <td>{{ estante }}</td>
                                <td>{{ tipo }}</td>
                                <td>{{ cantidad }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}